*{
    margin: 0;
    box-sizing: content-box;
}

body{
    -webkit-font-smoothing: none;
    font-family: 'VT323', monospace;
    height: 100vh;
    background-color: #008081;
}

.App{
    overflow: auto;
}

textarea{


        font-size: 1.1rem;
        font-family: 'VT323', monospace;
        resize: none;
        background-color: black;
        color:#20C20E;
        height: 8rem;
        margin-top: 0.5rem;
        padding: 0.2rem;
        

        &:focus{
            outline: 0;
        }  
}

button{  
    margin-top: 0.5rem;
    font-family: 'VT323', monospace;
    width: 5rem;
    height: 2rem;
    background-color:  #D6B8E3;
}

.window{
    
    
    font-size: 1.3rem;
    background-color: #D6B8E3;
    margin: 3rem auto;
    width: 24rem;
    padding: 0.5rem 0.7rem;
    box-shadow: .2rem   0    #353535,
               0     .2rem #353535,
             -.2rem   0    #fff,
               0    -.2rem #fff;
}

.titlebar {
    line-height: 3rem;
    background-color: #1c419f;
    color: #fff;
    padding: 0 .75rem;
    display: flex;

    
}
.x-button{
    
    align-self: center;
    background-color: #D6B8E3;
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 auto;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 600;
    cursor:pointer;
}

.input-screen, .output-screen{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem 0;
    box-shadow: -0.2rem 0 #353535, 0 -0.2rem #353535, 0.2rem 0 #fff, 0 0.2rem #fff;

}

.warning{
    color: red;
    display: flex;
    
    align-items: center;
    
}

.encryption-notification{
    margin-left: 1em;
}

